body {
  font-family: 'Muli';
  font-size: 16px;
}

a {
  color: #D6521E; /* blood orange */
} /*yellow #fbd334*/

a:hover {
  color: #555;
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

/* NAV */
nav {
  position: fixed !important;
  top: 0;
  z-index: 1;
  overflow: auto;
  background-color: #f5f5f5;
  font-family: 'Questrial';
  text-transform: uppercase;
  font-size: 1.2em;
}

nav span {
  margin: 1em 2em 0.8em 0;
  display: inline-block;
  font-family: 'Questrial';
}

nav ul {
  margin: 1em 2em 0.8em 0;
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a.current {
  color: #555;
  border-bottom: 2px solid #D6521E;
}


/* Main content div */
main {
  margin: 4.5em 0 0 0;
}

/* ABOUT PAGE */
.class-desc h1 {
  font-size: 3em;
  margin-bottom: .5em;
  text-align: center;
}

.class-desc p {
  font-size: 1.2em;
}

.class-desc img {
  width: 600px;
  height: 400px;
  display: block;
  margin: 1em auto;
}

.skills {
  overflow: auto;
  margin: .5em auto 2em auto;
  padding-left: 20%;
}

.skills h2 {
  text-align: center;
  font-family: 'Questrial';
  background-color: #fbd334;
  padding: 5px;
}

.skills p {
  font-size: 1.1em;
}

/* FOOTER */
footer {
  background-color: #f5f5f5;
  font-family: 'Questrial';
  padding: 1em;
  text-align: center;
}


/* PEOPLE PAGE */
.hidden {
  display: none;
}

.people h2 {
  margin: 1em 0 .7em 0;
  padding: 5px 0;
  border-bottom: 2px solid #fbd334;
  font-family: 'Questrial';

}

ul.thumbnails {
  list-style-type: none !important;
  padding: 0 5%;
}

.thumbnails li {
  display: inline-block;
  margin: 0 2% .5em 0;
}

.thumbnails li:hover,
.current-student {
  cursor: pointer;
  opacity: 0.5;
}

.thumbnails img {
  width: 6em;
}

.student-desc {
  padding: 0 5%;
}

.student-desc img {
  width: 10em;
  height: 10em;
  float: left;
  margin: 0 1.5em 3em 0;
}

.student-desc h3 {
  font-family: 'Questrial';
  color: #D6521E;
  text-transform: uppercase;
}

.student-desc p {
  font-size: 1.1em;
  font-family: 'Arimo';
}

.instructors {
  list-style-type: none;
  padding-left: 0;
  margin: 1em 0;
}

.instructors li {
  display: inline-block;
  width: 30%;
  margin: 0 0 0 2%;
  vertical-align: top;
}

.instructors img {
  max-height: 140px;
  display: block;
  margin: 0 auto;
}
.instructors p {
  font-family: 'Muli'
}
