<!DOCTYPE html>
<html lang='en'>
<head>
  <title>WDI Proto 2014!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- STYLES 'N SUCH' -->
  <link href='http://fonts.googleapis.com/css?family=Questrial|Arimo|Muli|Special+Elite' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- LIBRARIES -->
  <script type="text/javascript" src="javascripts/libraries/jquery.js"></script>
  <script type="text/javascript" src="javascripts/libraries/underscore.js"></script>
  <script type="text/javascript" src="javascripts/libraries/backbone.js"></script>

  <!-- TEMPLATES -->
  <script type='text/template' id='student-profile-template'>
    <img src='<%- image %>' alt='Full-size headshot'/>
    <h3><%- name %></h3>
    <p><%- intro %></p>
    <p>
    <a href='<%- portfolio %>' target='_blank'><i class="fa fa-user"></i> Portfolio</a></br>
    <a href='<%- github %>' target='_blank'><i class="fa fa-github"></i> Github</a>
    </p>
  </script>

  <script type="text/template" id="headshot-template">
    <img src='<%- image %>' class='class-headshot'/>
  </script>

  <!-- MODELS -->
  <script type="text/javascript" src="javascripts/backbone/models/Student.js"></script>

  <!-- COLLECTIONS -->
  <script type="text/javascript" src="javascripts/backbone/collections/StudentCollection.js"></script>

  <!-- VIEWS -->
  <script type="text/javascript" src="javascripts/backbone/views/StudentView.js"></script>
  <script type="text/javascript" src="javascripts/backbone/views/StudentListView.js"></script>

  <!-- APP -->
  <script type="text/javascript" src="javascripts/app.js"></script>

</head>


<body>
  <div class='people'>
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
      <h2>The students</h2>

      <ul class='thumbnails'>
        <!-- Backbone populates this -->
      </ul>

      <div class="student-desc">
        <!-- Backbone populates this -->
      </div>

      </div> <!-- students row-->

      <h2>The intructors</h2>
      <ul class='instructors'>
        <li>
          <img src="images/instructors/aldric.jpeg" alt="Aldric" target='_blank'>
          <h3>Aldric Giacomoni</h3>
          <p>
            Aldric is a lover of Ruby, martial arts and a passionate advocate of Agile manifesto as well as Extreme programming practices. He has a keen eye for finding patterns and dissecting problems. Find him on Twitter <a href="https://twitter.com/trevoke">@trevoke</a>
          </p>
        </li>

        <li>
          <img src="images/instructors/matt.jpg" alt="Matt">
          <h3>Matt Marcello</h3>
          <p>
            Matt attended Harvard University, where he studied studied a variety of topics, academic and otherwise, and also played soccer. After receiving his degree in Neurobiology, Matt worked as a technical analyst at an IT Consulting firm. In August 2013, Matt entered WDI as a student. Now, he is a co-instructor in the same program. Find him at <a href="http://mattmarcello.com/"target='_blank'>mattmarcello.com</a>
          </p>
        </li>

        <li>
          <img src="images/instructors/andrew.jpg" alt="Andrew">
          <h3>Andrew Madden</h3>
          <p>
            Originally from Jersey, Andrew came to the City seeking tech. During his stint in the Masters of Music Technology program at NYU, he worked on audio recording and signal processing development, which sparked his interest in programming. In May 2013, Andrew entered the WDI as a student. Shortly after, he rejoined GA as a Developer in Residence in the WDI program. Find him at <a href="http://www.andrewmadden.com/" target='_blank'>andrewmadden.com</a>
          </p>
        </li>
      </ul>
    <!-- Render all students' info in this hidden div and show on click of the thumbnail pic -->
    <div class="hidden">

    </div>

    </div> <!-- 8 col offset 2 -->
  </div> <!-- people -->

</body>
</html>
